/* 全局样式 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* height: 100%;
        使页面充满浏览器窗口 */
        margin: 0;
        /* 去掉默认的外边距 */
}

/* 坐标轴样式 */
.axis path,
.axis line {
    fill: none;
    shape-rendering: crispedges;
}

.axis text {
    font-size: 14px;
}

/* 单元格文本样式 */
.cell text {
    font-size: 12px;
    fill: rgb(0, 0, 0);
    text-anchor: middle;
}

/* 色标样式 */
.color-legend rect {
    width: 20px;
    height: 10px;
    background-color: #ECE6D8
}

/* 地图样式 */
#map {
    width: 50%;
    min-height: 60px;
    height: 55%;
    position: absolute;
    left: 25%;
    /* box-shadow: 0 0 5px 0 black; */
}

/* 径向图样式 */
#jingxiang {
    width: 25%;
    min-height: 100px;
    height: 40%;
    position: absolute;
    /* box-shadow: 0 0 5px 0 black; */
    top: 20%;
}

/* 热力图样式 */
#hot {
    min-height: 100px;
    width: 25%;
    bottom: 0;
    position: absolute;
    height: 40%;
    /* box-shadow: 0 0 5px 0 black; */
}

/* 柱状图样式 */
#mood {
    min-height: 100px;
    width: 50%;
    right: 25%;
    bottom: 0;
    position: absolute;
    height: 45%;
    background-color: #ECE6D8;
    /* box-shadow: 0 0 5px 0 black; */
}

/* 标题框 */
#title {
    min-height: 100px;
    position: absolute;
    width: 25%;
    height: 20%;
    /* box-shadow: 0 0 5px 0 black; */
}
/* 词云 */
#cloud {
    min-height: 100px;
    position: absolute;
    width: 25%;
    height: 100%;
    /* box-shadow: 0 0 5px 0 black; */
    right: 0;
}